#!/bin/bash

# Package lists live in .chezmoidata/packages.toml.

set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew "{{ . }}"
{{ end -}}
{{ range .packages.darwin.casks -}}
cask "{{ . }}"
{{ end -}}
EOF
