[user]
	name = Clay Tercek
	email = 30105080+claytercek@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesFile = {{ joinPath .chezmoi.homeDir ".config/git/ignore" | quote }}
{{/* signing is enforced everywhere: workstations get the shared key
     via chezmoi, servers generate a per-host key at the same path */}}
{{- $home := .chezmoi.homeDir | replace "\\" "/" }}
[user]
	signingkey = {{ printf "%s/.ssh/signing" $home | quote }}
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = {{ printf "%s/.ssh/allowed_signers" $home | quote }}
{{ if eq .chezmoi.os "windows" }}
	program = {{ printf "%s/.ssh/sign-noagent.cmd" $home | quote }}
{{ end }}
[commit]
	gpgsign = true
[tag]
	gpgsign = true
{{ if eq .chezmoi.os "windows" }}
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	autocrlf = true
{{ end }}
{{ if .wsl }}
[core]
	sshCommand = ssh.exe
{{ end }}
[init]
	defaultBranch = main
	templateDir = {{ joinPath .chezmoi.homeDir ".config/git/template" | quote }}

[url "git@github.com:"]
  insteadOf = gh:

[url "git@github.com:bluecadet/"]
  insteadOf = bc:

[url "git@github.com:claytercek/"]
  insteadOf = ct:
