30105080+claytercek@users.noreply.github.com {{ onepasswordRead "op://Personal/Github/public key" | trim }}
30105080+claytercek@users.noreply.github.com {{ onepasswordRead "op://Personal/Agent Signing Github/public key" | trim }}
